<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">Customer Form</div>
            <div class="card-body">
                <form [formGroup]="customerForm" (submit)="handleForm($event)">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input formControlName="firstName" type="text" class="form-control" />
                        <div class="text-danger"
                            *ngIf="customerForm.controls['firstName'].errors && customerForm.controls['firstName'].touched">
                            <div *ngIf="customerForm.controls['firstName'].errors?.required">First Name is required
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName">Last Name</label>
                        <input formControlName="lastName" type="text" class="form-control" />
                    </div>
                    <ng-container formGroupName="emailGroup">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input formControlName="email" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="cemail">Confirm Email</label>
                            <input formControlName="cemail" type="text" class="form-control" />
                        </div>
                    </ng-container>
                    <div class="form-group">
                        <label for="mobile">Mobile</label>
                        <input formControlName="mobile" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="mobile">Notification</label>
                        <br />
                        <input type="radio" (click)="handleNotiChange('email')" value="email" formControlName="noti" />
                        Email
                        <input type="radio" (click)="handleNotiChange('text')" value="text" formControlName="noti" />
                        Text
                    </div>
                    <br />
                    <button class="btn btn-dark">Submit</button>
                    &nbsp;
                    <button type="button" (click)="loadCustomer()" class="btn btn-dark">Load Customer</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <hr />
        Form Model
        <hr />
        <pre>
            {{customerForm.value|json}}
        </pre>
        <hr />
        Form Group Status
        <hr />
        <pre>
            is pristine : {{customerForm.pristine}}
            is dirty : {{customerForm.dirty}}

            is touched : {{customerForm.touched}}
            is untouched : {{customerForm.untouched}}

            is valid : {{customerForm.valid}}
            is invalid : {{customerForm.invalid}}
        </pre>

        <hr />
        Form Control Status ( e.g LastName )
        <hr />
        <pre>
            is pristine : {{customerForm.controls['lastName'].pristine}}
            is dirty : {{customerForm.controls['lastName'].dirty}}

            is touched : {{customerForm.controls['lastName'].touched}}
            is untouched : {{customerForm.controls['lastName'].untouched}}

            is valid : {{customerForm.controls['lastName'].valid}}
            is invalid : {{customerForm.controls['lastName'].invalid}}
        </pre>

    </div>
</div>