<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">Customer Form</div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" />
                    </div>
                    <div class="form-group">
                        <label for="firstName">Last Name</label>
                        <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName" />
                    </div>
                    <br />
                    <button class="btn btn-dark">Submit</button>
                    &nbsp;
                    <button type="button" (click)="loadCustomer()" class="btn btn-dark">Load Customer</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        {{firstName}} - {{lastName}}
    </div>
</div>